.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header{
    background:tomato;
    height: 120px;
    font-size: 150%;
    text-align:center;
}

.footer {
    background: lightgreen;
    height: 80px;
}

.main {
    text-align: left;
    background: skyblue;
    height: auto;
    font-size: 24px;
}

.aside1 {
    background: gold;
}


.aside2 {
    background: lightgray;
}

ul {
    text-align: left;
    font-size: 30px;
}

.span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

@media all and (min-width:  800px){
    .main{
        flex:3;
    }

    .aside1 {
        order: 1;
    }
    
    .aside2 {
        order: 2;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px){
    .aside{
        flex: 1;
    }
}
